# Configurações do Supabase para conexão do Checkout
SUPABASE_URL=seu_supabase_url_aqui
SUPABASE_ANON_KEY=sua_supabase_anon_key_aqui

# Configurações da API PagueX para cobrança de Pix
PAGUEX_PUBLIC_KEY=sua_paguex_public_key_aqui
PAGUEX_SECRET_KEY=sua_paguex_secret_key_aqui
